/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define LOWER 1
#define RAISE 2

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow mods";
            #binding-cells = <2>;
            tapping_term_ms = <225>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
    &kp TAB   &kp Q       &kp W       &kp E       &kp R       &kp T   	&trans  &trans  &kp Y     &kp U       &kp I        &kp O        &kp P   		  &kp BSPC
    &kp LALT  &hm LGUI A  &hm LALT S  &hm LCTRL D &hm LSHFT F &kp G     &trans  &trans 	&kp H     &hm RSHFT J &hm RCTRL K  &hm RALT L   &hm RGUI SEMI &kp RET
    &kp LSHFT &kp Z       &kp X       &kp C       &kp V       &kp B     &trans  &trans 	&kp N     &kp M       &kp COMMA    &kp DOT      &kp FSLH     	&kp SQT
    &kp LCTRL &kp LALT    &kp LGUI    &lt 1 BSPC  &lt 2 SPACE &kp LEFT  &kp A	  &kp B 	&kp DOWN  &kp UP      &kp RIGHT    &kp 1        &kp 2         &kp 3
            >;
        };
    };
};
